<div class="main_header">
  <div class="left-header">
    <div class="chat-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="chat-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
  
<div class="main_chat">
  <div class="upper-chat">
    <div class="chat-name">
      Tom
    </div>
    <div class="daytime">
      2020/3/31(Wed) 12:43:30
    </div>
  </div>
  <div class="lower-chat">
    <div class="message">
      おはよう
    </div>
  </div>
  <div class="upper-chat">
    <div class="chat-name">
      Tom
    </div>
    <div class="daytime">
      2020/3/31(Wed) 12:47:30
    </div>
  </div>
  <div class="lower-chat">
    <div class="message">
      こんばんは
    </div>
  </div>
</div>

<div class="main_footer">
  <form class="form">
    <div class="form-left">
      <input class="form-message" placeholder= "type a message" type="text">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <div class="form-right">
      <input class="form-submit" type="submit" value="送信">
    </div>
  </form>
</div>